& {
  @import (multiple, reference) "../colors";

  .ins-button {
    position: relative;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    font-size: 1em;
    white-space: nowrap;
    margin-top: 10px;
    background-color: @green;
    color: @white;
  }
}