& {
  @import (multiple, reference) "../../../node_modules/lesshat/build/lesshat-prefixed";

  @import (multiple, reference) "../colors";
  @import (multiple, reference) "../sizes";

  header {
    position: fixed;
    top: 0;
    left: 0;

    height: @header-height;
    width: 100%;
    z-index: @header-z-index;

    background: @black;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-transition: background .2s;

    .ins-right-position {
      position: absolute;
      height: @header-input-height;
      right: 50px;
      top: 50%;
      margin-top: -1*@header-input-height/2;

      .ins-menu-wrapper {
        display: inline-block;
        padding-bottom: 20px;
        &:hover {
          .ins-menu {
            display: block;
          }
        }
        .ins-menu {
          display: none;
          position: absolute;
          right: -10px;
          width: 100px;
          height: 125px;
          background-color: @grey;
          border: 1px solid @grey-light;
          border-radius: 3px;
          z-index: @header-z-index;

          &::before {
            border: 6px solid transparent;
            border-bottom-color: @grey-light;
            margin-left: -4px;
            bottom: 100%;
            right: 10px;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
          }

          li {
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 18px;
            width: 100%;
            border-bottom: 2px solid @grey-light;
            &:last-of-type {
              border-bottom: 0;
            }

            a {
              text-decoration: none;
              color: @main;
            }
          }
        }
      }

      img {
        width: 30px;
        height: 30px;
        .lh-border-radius(3px)
      }

      input {
        height: 100%;
        color: @grey;
        font-size: 1.2em;
        background: transparent;
        .lh-border-radius(4px);
        padding: 0 34px 0 4px;
        width: 200px;
        vertical-align: top;
        margin-right: 20px;
        border: 1px solid #44474b;
      }

      i.icon-search {
        position: absolute;
        top: 7px;
        right: 80px;
        font-size: 1.2em;
      }

      i.image-bubble {
        cursor: pointer;
        height: 28px;
        width: 31px;
        display: inline-block;
        margin-right: 20px;
        background: url(../images/add.png);
      }

      i.icon-triangle-down {
        bottom: 10px;
        margin-left: 5px;
        position: relative;
      }
    }

    .ins-left-position {
      position: absolute;
      left: 50px;
      top: 50%;
      margin-top: -14px;
      img {
        width: 137px;
        height: 28px;
      }
    }
  }
}