.ins-settings-page
  .ins-content-section
    div
      h1 Settings
      h2 Account
      form.ins-form
        .ins-image-section
          img(src="external/avatars/user-profile.jpg")
          button.ins-button Change
        .ins-inputs-section
          div.ins-input-image
            i.icon-user
            input.ins-input
          div.ins-input-image
            i.icon-mail
            input(type="email").ins-input
          div.ins-input-image.ins-password
            i.icon-lock
            input(type="password").ins-input
            a change
      hr
      h2 Notifications

      form(name="flags")
        ul.ins-spaced
          li.ins-switch
            input(id="ins-toggle-1", type="checkbox").ins-toggle.ins-toggle-round-flat
            label(for="ins-toggle-1")
            label(for="ins-toggle-1") email me when my posts are marked as favorites
          li.ins-switch
            input(id="ins-toggle-2", type="checkbox").ins-toggle.ins-toggle-round-flat
            label(for="ins-toggle-2")
            label(for="ins-toggle-2") email me when I'm mentioned
          li.ins-switch
            input(id="ins-toggle-3", type="checkbox").ins-toggle.ins-toggle-round-flat
            label(for="ins-toggle-3")
            label(for="ins-toggle-3") email me when I get a reply
          li.ins-switch
            input(id="ins-toggle-4", type="checkbox").ins-toggle.ins-toggle-round-flat
            label(for="ins-toggle-4")
            label(for="ins-toggle-4") email me when someone follows me
        hr
        h2 Privacy
        ul
          li
            input(id="ins-radio-1", type="radio", name="allow-radio", value="anyone", ng-model="allow", style="display: none")
            label(for="ins-radio-1", ng-class="{ 'icon-radio-checked': allow === 'anyone', 'icon-radio-unchecked': allow !== 'anyone' }")
            label(for="ins-radio-1") allow anyone to tag me
          li
            input(id="ins-radio-2", type="radio", name="allow-radio", value="followers", ng-model="allow", style="display: none")
            label(for="ins-radio-2", ng-class="{ 'icon-radio-checked': allow === 'followers', 'icon-radio-unchecked': allow !== 'followers' }")
            label(for="ins-radio-2") only allow people I follow to tag me
          li
            input(id="ins-radio-3", type="radio", name="allow-radio", value="none", ng-model="allow", style="display: none")
            label(for="ins-radio-3", ng-class="{ 'icon-radio-checked': allow === 'none', 'icon-radio-unchecked': allow !== 'none' }")
            label(for="ins-radio-3") don't allow anyone to tag me
        ul.ins-separate-radios
          li
            input(id="ins-radio-4", type="checkbox", name="location", ng-model="location", style="display: none")
            label(for="ins-radio-4", ng-class="{ 'icon-radio-checked': location, 'icon-radio-unchecked': !location }")
            label(for="ins-radio-4") add a location to my posts
          li
            input(id="ins-radio-5", type="checkbox", name="find", ng-model="find", style="display: none")
            label(for="ins-radio-5", ng-class="{ 'icon-radio-checked': find, 'icon-radio-unchecked': !find }")
            label(for="ins-radio-5") let other find me by my email address
          li
            input(id="ins-radio-6", type="checkbox", name="ads", ng-model="ads", style="display: none")
            label(for="ins-radio-6", ng-class="{ 'icon-radio-checked': ads, 'icon-radio-unchecked': !ads }")
            label(for="ins-radio-6") tailor ads based on my information
        hr
        button.ins-button Save Changes