<!DOCTYPE html>
<html>
<head lang="en">
  <title>Simply Social</title>
  <link rel="icon" type="image/ico" href="/favicon.png"/>

  <script src="dist/modernizer.js"></script>

  <!--[if lte IE 9]>
  <script src="dist/bower/jquery.min.js"></script>
  <script src="dist/bower/jquery.placeholder.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.js"></script>
  <![endif]-->

  <!-- Custom webfonts -->
  <link type="text/css" rel="stylesheet" href="fonts/icomoon/style.css">
  <link type="text/css" rel="stylesheet" href="dist/style.css">

  <!-- Load vendor scripts script. -->
  <script src="dist/bower/angular.min.js" type="text/javascript"></script>
  <script src="dist/bower/angular-ui-router.min.js" type="text/javascript"></script>
  <script src="dist/bower/moment.min.js"></script>
  <script src="dist/bower/angular-moment.min.js"></script>
  <script src="dist/bower/angular-animate.min.js"></script>
  <script src="dist/bower/elastic.js" type="text/javascript"></script>
</head>
<body ng-app="ins">
<div class="ins-page-wrap">
  <header>
    <div class="ins-right-position">
      <i class="image-bubble" ng-click="showMessageWindow = true"></i>
      <input class="ins-input" type="text" />
      <i class="icon-search"></i>
      <div class="ins-menu-wrapper">
        <img src="external/avatars/user-profile.jpg">
        <i class="icon-triangle-down"></i>
        <div class="ins-menu">
          <ul>
            <li>
              <a ui-sref="home.profile.me">Profile</a>
            </li>
            <li>
              <a ui-sref="home.profile.followers">Followers</a>
            </li>
            <li>
              <a ui-sref="home.profile.following">Following</a>
            </li>
            <li>
              <a ui-sref="settings">Settings</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="ins-left-position">
      <a ui-sref="home.feed.all"><img src="images/logo.png"/></a>
    </div>
  </header>
  <main ui-view>
  </main>
</div>
<footer>
  <nav>
    <ul>
      <li><a>About Us</a></li>
      <li><a>Support</a></li>
      <li><a>Privacy</a></li>
      <li><a>Terms</a></li>
      <li><a>@2014 SimplySocial</a></li>
    </ul>
  </nav>
</footer>

<div class="ins-overlay" ng-show="showMessageWindow" ng-cloak></div>
<div class="ins-modal angular-animate" ng-show="showMessageWindow" ng-cloak>
  <h2>Create new message</h2>
  <textarea ng-model="newPostOverlay"></textarea>

  <div class="ins-actions">
    <div class="ins-left-position">
      <a>
        <i class="icon-camera"></i>Add Photo
      </a>
      <a>
        <i class="icon-video"></i>Add Video
      </a>
    </div>
    <button ng-click="addPost()" class="ins-button">Post</button>
  </div>
  <i class="icon-cancel-circle" ng-click="showMessageWindow = false"></i>
</div>

<script src="dist/app.js"></script>
<script src="dist/templates.js"></script>
</body>
</html>

