@import "colors";
@import "sizes";

@linkColor: #ccc;

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'ProximaNova-Light';
}

html, body {
  height: 100%;
  font: 13px/1.4 ProximaNova-Regular, Helvetica, Sans-serif;
  background-color: #FFF;
  color: #666;
  -webkit-font-smoothing: antialiased;
}

body {
  padding-top: @header-height;

}

a {
  color: @linkColor;
}