@import '../node_modules/lesshat/build/lesshat-prefixed';

@black: #262729;
@green: #36B798;
@white: white;


@base-z-index: 0;
@header-height: 60px;
@header-z-index: @base-z-index +1 ;
@header-input-height: @header-height/2;

@footer-height: 40px;
@main-content-width: 600px;

@main-centered-width: @main-content-width;
@main-centered-spacing: 40px;
@main-nav-height: 40px;

@font-face{
  font-family:'proxima nova';
  src: url('../fonts/proxima nova/ProximaNova-Black.otf');
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'proxima nova';
}

html, body {
  height: 100%;
}

body {
  padding-top: @header-height;
}

footer {
  font-size: 0.8em;
  height: @footer-height;
  border-top: 1px solid grey;
  text-align: center;
  nav {
    display: table;
    width: @main-content-width - 150;
    margin: auto auto;
    height: 100%;
    vertical-align: middle;
    ul {
      display: table-row;
      height: 100%;
      vertical-align: middle;
      padding: 0;
      margin: 0;
      top: 0;
      list-style-type: none;
      li {
        display: table-cell;
        vertical-align: middle;
        padding: 0;

        &:last-child {
          padding-left: 40px;
        }
      }
    }
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;

  height: @header-height;
  width: 100%;
  z-index: @header-z-index;

  background: @black;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-transition: background .2s;

  .ins-right-position {
    position: absolute;
    height: @header-input-height;
    right: 10px;
    top: 50%;
    margin-top: -1*@header-input-height/2;

    input {
      height: 100%;
      background: transparent;
      border: 1px solid white;
      .lh-border-radius(4px);
    }
  }

  .ins-left-position {
    position: absolute;
    height: @header-input-height;
    left: 10px;
    top: 50%;
    margin-top: -1*@header-input-height/2;
  }
}


main {
  .ins-navigation-section {
    background: url(images/Hopetoun_falls.jpg);
    padding: @main-centered-spacing 0 0 0;
  }

  .ins-content-section {
    margin: auto auto;
    width: @main-content-width;
    padding: 20px 0;
  }

  .ins-create-post {
    margin: auto auto;
    width: @main-centered-width;
    padding: 20px;
    background: @green;
    color: @white;
    input {
      background: transparent;
      border: 0;
      color: @white;
      font-size: 2em;
      outline: none;
    }
  }

  nav {
    display: table;
    height: @main-nav-height;
    width: @main-centered-width;
    margin: (@main-centered-spacing - @main-nav-height) auto 0 auto;
    position: relative;
    ul {
      display:table-row;
      width: 50%;
      padding: 0;
      height: 100%;
      margin: 0;
      top: 0;
      list-style-type: none;
      li {
        padding: 0;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        &.ins-selected  {
          border-bottom: 5px solid green;
        }
        &.ins-spacer {
          width: 150px;
        }
      }
    }
  }
}

.ins-page-wrap {
  min-height: 100%;
  margin-bottom: -@footer-height;

  &:after {
    content: "";
    display: block;
  }

  &:after {
    content: "";
    display: block;
    height: @footer-height;
  }
}

article {
  width: 100%;
  padding-left: 150px;
  border: 1px solid grey;
  .lh-border-radius(4px);
  position: relative;
  margin-bottom: 20px;
  img {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  h6 {
    margin: 10px 0 10px 0;
  }
}
