.ins-create-post
  input(placeholder="What's on your mind")
  div
    a
      i.icon-camera
      | Add Photo
    a
      i.icon-video-camera
      | Add Video
    a
nav
  ul
    li.ins-selected
      a All Posts
    li
      a Photos
    li
      a Videos
    li.ins-spacer
