form.ins-create-post
  textarea(msd-elastic, ng-model="navigation.post" , placeholder="What's on your mind", ng-keydown="navigation.keyDown($event)", ins-placeholder)
  div
    a
      i.icon-camera
      | Add Photo
    a
      i.icon-video
      | Add Video
    a
nav.ins-nav
  ul
    li(ui-sref="home.feed.all({masonary: 'no'})",  ng-class="{ 'ins-selected': state.name === 'home.feed.all' }")
      a All Posts
    li(ui-sref="home.feed.photos", ui-sref-active="ins-selected")
      a Photos
    li
      a Videos
    li.ins-spacer
    li.ins-right-align(ui-sref="home.feed.all({masonary: 'no'})", ui-sref-active="ins-selected")
      i.icon-three-bars
    li.ins-right-align(ui-sref="home.feed.all({masonary: 'yes'})", ui-sref-active="ins-selected")
      i.icon-grid
