& {
  @import (multiple, reference) "sizes";

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }

  .ins-page-wrap {
    min-height: 100%;
    margin-bottom: -@footer-height;

    &:after {
      content: "";
      display: block;
    }

    &:after {
      content: "";
      display: block;
      height: @footer-height;
    }
  }
}