.ins-create-post
  input(placeholder="What's on your mind")
  div
    a Add Photo
    a Add Video
    a
nav
  ul
    li.ins-selected
      a All Posts
    li
      a Photos
    li
      a Videos
    li.ins-spacer
