& {
  @import (multiple, reference) "../../../node_modules/lesshat/build/lesshat-prefixed";
  @import (multiple, reference) "../colors";
  @import (multiple, reference) "../sizes";

  article {
    font-size: 16px;
    position: relative;
    font-family: ProximaNova-Light;
    line-height: 1.125;
    width: 100%;
    border: 1px solid @grey;
    .lh-border-radius(4px);
    margin-bottom: 20px;
    .ins-actions {
      position: absolute;
      right: 15px;
      top: 15px;
      i {
        margin-right: 10px;
      }
    }

    .ins-body {
      padding: 20px 40px 0 80px;
      position: relative;
      > img {
        position: absolute;
        left: 20px;
        width: 40px;
        height: 40px;
      }

      .ins-details {
        position: relative;
        width: 100%;
        h3 {
          margin: 0;
        }
        p {
          margin-top: 8px;
          word-break: break-all;

          a {
            word-break: normal;
          }
        }
      }

      .ins-expand {
        margin: 10px 0 20px 0;
      }
    }

    > img {
      margin-top: 20px;
      width: 100%;
      position: relative;
      bottom: -8px;
    }

    .ins-comments {
      background: @grey-light;
      li {
        border-bottom: 1px solid @grey;
      }

      .ins-respond {
        padding: 10px;
        input {
          font-size: 1em;
          width: 100%;
          padding: 10px;
        }
      }
    }
  }

  @media only screen and (max-width: @tablet-width) {
    article {
      .ins-actions {
        right: -20px;
        bottom: 0;
      }
    }
  }
}
