& {
  @import (multiple, reference) "../../../node_modules/lesshat/build/lesshat-prefixed";
  @import (multiple, reference) "../colors";
  @import (multiple, reference) "../sizes";

  article {
    font-size: 16px;
    position: relative;
    font-family: ProximaNova-Light;
    line-height: 1.125;
    width: 100%;
    border: 1px solid @grey;
    .lh-border-radius(4px);
    margin-bottom: 20px;
    .ins-actions {
      position: absolute;
      right: 18px;
      top: 18px;
      color: @grey-dark;
      i {
        font-size: 0.8em;
        margin-right: 15px;

        &.icon-arrow-back-outline{
          font-size: 1em;
        }
      }
    }

    .ins-body {
      padding: 20px 40px 0 80px;
      position: relative;
      > img {
        position: absolute;
        left: 20px;
        width: 40px;
        height: 40px;
      }

      .ins-details {
        position: relative;
        width: 100%;
        h3 {
          margin: 0;
        }
        p {
          margin-top: 8px;
          word-break: break-all;

          a {
            word-break: normal;
          }
        }
      }

      .ins-expand {
        margin-bottom: 10px;
        a {
          cursor: pointer;
          i.icon-triangle-up, i.icon-triangle-down {
            font-size: 0.8em;
            position: relative;
            top: 0;
            left: 8px;
          }

          i.icon-triangle-up {
            top: 2px;
          }
        }
      }
    }

    > img {
      width: 100%;
      position: relative;
      bottom: -8px;
    }

    .ins-comments {
      background: @grey-lightest;
      li {
        border-bottom: 1px solid @grey;
        &:first-child {
          border-top: 1px solid @grey;
        }

      }

      .ins-respond {
        padding: 10px;
        input {
          font-size: 1em;
          width: 100%;
          padding: 10px;
        }
      }
    }
  }


  div:not(.ins-masonary) {
    article {
      &.ng-move,
      &.ng-enter,
      &.ng-leave {
        .lh-transition(all linear 0.5s);
      }

      &.ng-leave.ng-leave-active,
      &.ng-move,
      &.ng-enter {
        color: @white;
      }

      &.ng-leave,
      &.ng-move.ng-move-active,
      &.ng-enter.ng-enter-active {
        color: inherit;
      }
    }
  }

  .ins-masonary {
    article {
      > img {
        margin-bottom: 20px;
      }
      padding-bottom: 40px;
      .ins-actions {
        right: 20px;
        top: auto;
        bottom: 20px;
      }
    }
  }
}
