

& {
  @import (multiple, reference) "../sizes";
  @import (multiple, reference) "../colors";
  @import (multiple, reference) "../mixins";

  @image-wrapper-width: 150px;

  .ins-settings-page {

    font-size: 15px;

    h1 + h2 {
      margin-top: 10px;
    }

    h1 {
      color: @black;
      margin: 0 0 40px;
    }

    h1, h2 {
      font-family: ProximaNova-Regular;
      font-weight: 400;
    }

    h2 {
      margin: 40px 0 25px 0;
      font-size: 1em;
      color: rgb(141, 145, 153);
      text-transform: uppercase;
    }

    form.ins-form {
      .ins-clearfix();

      margin-bottom: 20px;

      .ins-image-section {
        width: @image-wrapper-width;
        display: inline-block;
        text-align: left;
        float: left;

        button.ins-button {
          border: 1px solid rgb(190, 195, 204);
          color: rgb(190, 195, 204);
          background: white;
          width: 85px;
          height: 30px;
          margin: 5px 0 0 0;
          display: block;
        }
      }

      .ins-inputs-section {
        display: inline-block;
        width: calc(~"100% - 250px");
        max-width: 400px;
        float: left;
        font-size: 24px;
        line-height: 24px;
        .ins-input-image {
          position: relative;
          label {
            font-size: 1em;
            color: lighten(@black, 30%);
            position: absolute;
            left: 10px;
            top: 7px;
          }
        }
        .ins-password {
          position: relative;
          input {
            padding-right: 60px;
          }
          a {
            position: absolute;
            top: 8px;
            font-size: 0.6em;
            right: 10px;
          }
        }

        label {
          font-size: 1.5em;
        }

        input {
          display: block;
          width: 100%;
        }
      }
    }

    hr {
      margin: 20px 0;
      border: 0;
      border-top: 1px solid @grey;
    }

    ul {
      margin: 20px 0 30px 0;

      &.ins-separate-radios{
       li {
         margin-top: 10px;
       }
      }
    }

    ul.ins-spaced {
      li {
        margin-bottom: 20px;
      }
    }
    li {
      display: table;
      margin-bottom: 5px;
      label {
        display: table-cell;
        vertical-align: middle;
        &:last-of-type {
          padding-left: 20px;
        }
      }
    }
  }


  @media only screen and (max-width: @mobile-width) {

    .ins-settings-page {
      padding: 20px;

      li label {
        white-space: nowrap;
        overflow: hidden;
        max-width: 300px;
        text-overflow: ellipsis;
      }

      form.ins-form {
        .ins-image-section, .ins-inputs-section {
          text-align: center;
          width: 100%;
          padding: 10px 20px;
          max-width: none;
          button.ins-button {
            margin: 5px auto 0 auto;
          }
        }
      }
    }
  }
}