div.ins-user-profile
  img(src="external/avatars/user-profile.jpg")
  h2 {{navigation.user.name}}
  p {{navigation.user.description}}
  a {{navigation.user.site}}
nav
  ul
    li(ui-sref="home.profile.me", ui-sref-active="ins-selected")
      a {{navigation.user.firstName}}'s Feed
    li(ui-sref="home.profile.followers", ui-sref-active="ins-selected")
      a {{navigation.user.followers | number}} Followers
    li(ui-sref="home.profile.following", ui-sref-active="ins-selected")
      a {{navigation.user.following | number}} Following