form
nav
  ul
    li(ui-sref="home.profile.me", ui-sref-active="ins-selected")
      a Jessica Feed
    li(ui-sref="home.profile.followers", ui-sref-active="ins-selected")
      a Followers
    li(ui-sref="home.profile.following", ui-sref-active="ins-selected")
      a Following